<% if @rejected_comments.size > 0 %>
  <h1>Rejected Comments</h1>
  <%= form_tag destroy_multiple_admin_comments_path, :method => :delete do %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Comment</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @rejected_comments.each do |comment| %>
          <tr>
            <td><%= check_box_tag "comment_ids[]", comment.id, true, class: 'form-checkbox'  %></td>
            <% if comment.website.blank? %>
              <td><%= h(comment.name) %></td>
            <% else %>
              <td><%= link_to h(comment.name), h(comment.website) %></td>
            <% end %>
            <td><%= h truncate(comment.comment, :length => 30) %></td>
            <td><%= link_to 'Not spam', approve_admin_comment_path(comment), :confirm => 'Are you sure?', :method => :put, :class => "btn btn-mini btn-primary"  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <fieldset>
      <div class="form-actions">
        <button type="submit" class="btn btn-warning">Destroy Checked</button>
      </div>
    </fieldset>
  <% end %>
<% end %>
<h1>Approved Comments</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @approved_comments.each do |comment| %>
      <tr>
        <% if comment.website.blank? %>
          <td><%= h(comment.name) %></td>
        <% else %>
          <td><%= link_to h(comment.name), comment.website %></td>
        <% end %>
        <td><%= h truncate(comment.comment, :length => 50) %></td>
        <td><%= link_to 'Spam', reject_admin_comment_path(comment), :confirm => 'Are you sure?', :method => :put, :class => "btn btn-mini btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
