<h1>Achievement Details</h1>

<fieldset>

  <%= f.input :rank %>
  <%= f.input :heading, :input_html => { :class => "span6" } %>
  <%= f.input :description, :input_html => { :class => "span6" } %>

  <div class="form-actions">
    <%= f.submit 'Save Achievement', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_achievements_path, :class => "btn" %>
  </div>

</fieldset>