<h1>Achievements</h1>
<div class="py-6">
  <%= link_to 'Add achievement', new_admin_achievement_path, :class => "btn btn-blue" %>
</div>
<table class="table-auto">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Heading</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @achievements.each do |achievement| %>
      <tr>
        <td><%= achievement.rank %></td>
        <td><%= achievement.heading %></td>
        <td>
          <%= link_to 'Edit', edit_admin_achievement_path(achievement), :class => "btn btn-mini" %>
          <%= link_to 'Delete', admin_achievement_path(achievement), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
