<h1>Testimonial Details</h1>

<fieldset>

  <%= f.input :rank %>
  <%= f.input :provider_name, :input_html => { :class => "span3" } %>
  <%= f.input :provider_position, :input_html => { :class => "span6" } %>
  <%= f.input :recommendation, :input_html => { :class => "span6 form-control", :rows => "10" } %>

  <div class="form-actions">
    <%= f.submit 'Save Testimonial', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_testimonials_path, :class => "btn" %>
  </div>

</fieldset>
