<h1>Testimonials</h1>
<div class="py-6">
  <%= link_to 'Add testimonial', new_admin_testimonial_path, :class => "btn btn-blue" %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Position</th>
      <th>Year</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @testimonials.each do |testimonial| %>
      <tr>
        <td><%= testimonial.rank %></td>
        <td><%= testimonial.provider_name %></td>
        <td><%= testimonial.provider_position %></td>
        <td><%= testimonial.recommendation_year %></td>
        <td class="form-actions">
          <%= link_to 'Edit', edit_admin_testimonial_path(testimonial), :class => "btn btn-mini btn-form" %>
          <%= button_to 'Delete', admin_testimonial_path(testimonial), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-danger btn-form" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
