<% content_for :secondary_content do %>
  <%= render "shared/blog_sidebar" %>
<% end %>
<% @blog_posts.each do |p| %>
  <% cache "blog_post_in_list_#{p.id}" do %>
    <h1 class="blog"><%= link_to p.title, blog_archive_path(p) %></h1>
    <h6><%= p.published_at.to_date.to_formatted_s(:long_ordinal) %></h6>
    <%= textilize(coderay(p.post)) %>
    <p class="blogPostFooter sans">
      <% unless p.taggings.empty? %>
        Tags: <% p.tags.each do |t| %>
        <%= link_to t.name, blog_tag_path(t.name.gsub(' ', '-')) %>
        <% end %> | <%= link_to "Comments (#{p.comments.approved.size})", "#{blog_archive_path(p)}#comments" %>
      <% end %>
    </p>
  <% end %>
<% end %>
