<% content_for(:title) { 'Contact me' } %>
<h1>Contact me</h1>
<p>
Please complete the form below and I will endeavour to reply within 24 hours. That is, unless you are selling SEO services, in which case your message will be allowed through to the keeper, i.e. ignored.
</p>

<%= render "shared/alerts" %>

<%= simple_form_for @contact do |f| %>
  <div class="hidden">
    <label for="content">If you are human, leave me blank.</label>
    <input type="text" id="content" name="content" class="text" value="" />
  </div>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :subject %>
  <%= f.input :message %>

  <button class="btn btn-blue btn-form">
    Send Message
  </button>
<% end %>
