<div id ="postcomment">
  <h2>Post a Comment</h2>
  <p>Please use your real name and be respectful. <a href="http://hobix.com/textile/">Textile</a> formatting is supported.</p>
  <div id="success">
    <% if flash[:notice] %>
      <%= render :partial => 'shared/success', :locals => {:msg => flash[:notice]} %>
    <% end %>
  </div>
  <div id="error">
    <% if flash[:error] %>
      <%= render :partial => 'shared/error', :locals => {:msg => flash[:error]} %>
    <% end %>
  </div>
  <%= form_for @comment, :url => create_comment_blog_archive_path do |f| %>
    <%= render "shared/error_messages", :target => @comment %>
    <fieldset>
      <%= hidden_field_tag 'blog_id', @blog_post.id %>
      <ol>
        <li>
          <label for="name">Your name (required):</label>
          <%= f.text_field :name %>
        </li>
        <li>
          <label for="email">Your email (required):</label>
          <%= f.text_field :email %>
        </li>
        <li>
          <label for="subject">Website:</label>
          <%= f.text_field :website %>
        </li>
        <li>
          <label for="message">Comment (required):</label>
          <%= f.text_area :comment %>
        </li>
        <li class="submitBtn">
          <button value="submit" class="submitBtn">
            <span>Post Comment</span>
          </button>
        </li>
      </ol>
    </fieldset>
  <% end %>
</div>