<div id="postcomment">
  <h4>Post a Comment</h4>
  <p>Please use your real name and be respectful. <a href="http://hobix.com/textile/">Textile</a> formatting is supported.</p>

<%= render "shared/alerts" %>

  <%= simple_form_for @comment, :url => create_comment_blog_archive_path, :html => { :class => 'form-horizontal' } do |f| %>
    <fieldset>
      <%= hidden_field_tag 'blog_id', @blog_post.id %>

      <%= f.input :name, :input_html => { :class => "span3" } %>
      <%= f.input :email, :input_html => { :class => "span3" } %>
      <%= f.input :website, :input_html => { :class => "span3" } %>
      <%= f.input :comment, :input_html => { :class => "span6 form-control", :rows => "10" } %>

      <div class="form-actions">
        <%= f.submit 'Post Comment', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
  <% end %>

</div>
