<% cache "blog_post_detail_#{@blog_post.id}", skip_digest: true do %>
  <h1 class="blog"><%= @blog_post.title %></h1>
  <h6><%= @blog_post.published_at.to_date.to_formatted_s(:long_ordinal) %></h6>
  <%= textilize(coderay(@blog_post.post)) %>
<% end %>
<% if @blog_post.comments_open? || @blog_post.comments.any? %>
  <div id="comments">
    <h2>Comments</h2>
    <% cache "comments_for_blog_post_#{@blog_post.id}", skip_digest: true do%>
      <% if @blog_post.comments.approved.empty? %>
        <p>None yet.</p>
      <% end %>
      <% @blog_post.comments.approved.each do |c| %>
        <%= textilize(coderay(c.comment)) %>
        <p><small><%= "Posted by: #{c.footer_name} #{distance_of_time_in_words(@blog_post.published_at, c.created_at)} later".html_safe %></small></p>
      <% end %>
    <% end %>
    <% if @blog_post.comments_open? %>
      <%= render "comment_form" %>
    <% else %>
      <p>Comments are closed for this post.</p>
    <% end %>
  </div>
<% end %>
<hr />
<div>
  <h4>Other posts</h4>
  <% if @blog_post.has_previous_post? %>
    <% previous_post = @blog_post.previous %>
    <p>Previous post: <%= link_to previous_post.title, blog_archive_path(previous_post) %></p>
  <% end %>
  <% if @blog_post.has_next_post? %>
    <% next_post = @blog_post.next %>
    <p>More recently: <%= link_to next_post.title, blog_archive_path(next_post) %></p>
  <% end %>
</div>
