<% content_for :secondary_content do %>
  <%= render :partial => "shared/blog_sidebar" %>
<% end %>
<% cache "blog_post_detail_#{@blog_post.id}" do %>
  <h1 class="blog"><%= @blog_post.title %></h1>
  <h6><%= @blog_post.created_at.to_date.to_formatted_s(:long_ordinal) %></h6>
  <%= textilize(coderay(@blog_post.post)) %>
  <% unless @blog_post.taggings.empty? %>
    <p class="blogPostFooter sans">
      Tags: <% @blog_post.tags.each do |t| %>
      <%= link_to t.name, "/blog?tag=#{t.name}" %>
      <% end %>
    </p>
  <% end %>
<% end %>
<div id="comments">
  <h2>Comments</h2>
  <% cache "comments_for_blog_post_#{@blog_post.id}" do%>
    <% if @blog_post.comments.approved.empty? %>
      <p>None yet.</p>
    <% end %>
    <% @blog_post.comments.approved.each do |c| %>
      <%= textilize(coderay(c.comment)) %>
      <p class="commentFooter"><%= "Posted by: #{c.footer_name} #{distance_of_time_in_words(@blog_post.created_at, c.created_at)} later".html_safe %></p>
    <% end %>
  <% end %>
  <%= render :partial => "comment_form" %>
</div>