<h1>About me</h1>
<% content_for :secondary_content do %>
    <div id="secondaryText">
    <h3 class="top">How I can help you</h3>
    <p>If you haven't already, I invite you to read about the <%= link_to 'services', services_path %> I offer. Alternatively, my background may suggest another service that I could provide to meet your needs.</p>
    <p>If you would like to know more about what I can do for you or would like to talk with one of my referees, please <%= link_to 'contact me', '/contact'%>.</p>
    <h3>Testimonials</h3>
    <% cache "testimonials" do %>
      <% @testimonials.each do |testimonial| %>
        <blockquote>
          <p><%= h testimonial.recommendation %></p>
          <small><%= h testimonial.provider %></small>
        </blockquote>
      <% end %>
    <% end %>
    </div>
<% end %>
<p>
  <%= image_tag("KeithFeb2015.jpg", :alt => "photo", :height => "200", :width => "200", :vspace => "5", :hspace => "30", :align => "left" ) %>Having commenced working in the industry in 1983, I have accumulated technical experience on a diverse range of platforms. My roles have covered the full life-cycle of software development. I have successfully led and contributed to teams that have delivered applications to corporate and government organisations in Australia and the United Kingdom.
</p>
<p>Read on to learn more about my professional background and what others have had to say about my work.</p>
<div class="pull-left">
  <% cache "achievements" do %>
    <% @achievements.each do |achievement| %>
      <h3><%= h achievement.heading %></h3>
      <%= textilize(achievement.description) %>
    <% end %>
  <% end %>
</div>
