<h1>Images</h1>
<div class="py-6">
  <%= link_to 'Add image', new_admin_image_path, :class => "btn btn-blue" %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>URL</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image.picture.url(:thumb) %></td>
        <td><%= link_to image.picture.url, image.picture.url %></td>
        <td>
          <div class="flex flex-row">
            <%= link_to 'Edit', edit_admin_image_path(image), :class => "btn btn-mini" %>
            <%= link_to 'Delete', admin_image_path(image), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-danger ml-1" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
