<fieldset>

  <%= f.input :title %>
  <%= f.input :post, :input_html => { :rows => "10" } %>
  <%= f.input :published, :input_html => { class: "form-checkbox" }  %>
  <%= f.input :comments_open, :input_html => { class: "form-checkbox" } %>

  <div class="form-actions">
    <button class="btn btn-blue btn-form">Save Blog Post</button>
    <button class="btn btn-info btn-form" name="preview_button">Preview Blog Post</button>
    <%= link_to 'Cancel', admin_blog_posts_path, :class => "btn btn-form" %>
  </div>
  
</fieldset>
