<%= render "shared/error_messages", :target => @blog_post %>
<div id="success">
  <% if flash[:notice] %>
    <%= render 'shared/success', :msg => flash[:notice] %>
  <% end %>
</div>
<fieldset>
  <ol>
    <li>
      <label for="title">Title:</label>
      <%= f.text_field :title %>
    </li>
    <li>
      <label for="post">Post:</label>
      <%= f.text_area :post %>
    </li>
    <li>
      <label for="status">Status:</label>
      <%= f.radio_button :status, "Published" %> Published
      <%= f.radio_button :status, "Draft" %> Draft
    </li>
    <li>
      <label for="tag_list">Tags:</label>
      <%= f.text_field :tag_list %>
    </li>
    <li class="submitBtn">
      <button value="submit" class="submitBtn">
        <span>Save Post</span>
      </button>
    </li>
  </ol>
</fieldset>