<fieldset>

  <%= f.input :title, :input_html => { :class => "span6" } %>
  <%= f.input :post, :input_html => { :class => "span6 form-control", :rows => "10" } %>
  <%= f.input :published %>
  <%= f.input :comments_open %>
  <%= f.input :tag_list, as: :tags, :input_html => { :class => "span6" } %>

  <div class="form-actions">
    <%= f.submit 'Save Blog Post', :class => 'btn btn-primary' %>
    <%= f.submit 'Preview Blog Post', name: 'preview_button', :class => "btn btn-info" %>
    <%= link_to 'Cancel', admin_blog_posts_path, :class => "btn" %>
  </div>
  
</fieldset>
