<h1>Blog Posts</h1>
<div class="py-6">
  <%= link_to 'Add blog post', new_admin_blog_post_path, :class => "btn btn-blue" %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @blog_posts.each do |post| %>
      <tr>
        <td><%= post.published_at.present? ? post.published_at.to_date.to_formatted_s(:rfc822) : '' %></td>
        <td><%= post.title %></td></td><td><%= post.status %></td>
        <td>
          <%= link_to 'Edit', edit_admin_blog_post_path(post), :class => "btn btn-mini" %>
          <%= link_to 'Delete', admin_blog_post_path(post), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
